@use "../abstracts/variables";

.showcase {
    background-color: variables.$color-light-gray;
    display: flex;
    flex-direction: column;
    align-items: center;

    .container-square {
        background-color: variables.$color-white;

        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 325px;
        border-radius: 20px;

        img {
            width: 280px;
            margin-top: 1.5rem;
            border-radius: 15px;
        }

        p,
        h1 {
            margin: 1.4rem;
            text-align: center;
        }

        p {
            font-weight: normal;
            color: variables.$color-gray-blue;
            margin-top: 0;
        }
        h1 {
            font-size: 1.5rem;
        }
    }
    footer {
        margin-top: 15px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;

    a {
        color: variables.$color-dark-blue;
    }
}
